/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
	box-sizing: border-box;
	font-family: "arial black";
}

body {
  margin: 0;
}

html {
	min-height: 100%
}



.backimage1 {
  background: url('halo 1.jpg') no-repeat center center fixed;
  height: 100%;
  background-size: cover
}
.backimage2 {
  background: url('halo 2.jpg') no-repeat center center fixed;
  height: 100%;
  background-size: cover
}
.backimage3 {
  background: url('halo 3.jpg') no-repeat center center fixed;
  height: 100%;
  background-size: cover
}
.backimage4 {
  background: url('halo 4.jpg') no-repeat center center fixed;
  height: 100%;
  background-size: cover
}








h1 {
  color: gray;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  margin: 70px;
}

ul {
  font-family: verdana;
  font-size: 20px;
  margin: 70px;
}


.responsive {
	width: 100%;
	max-width: 1000px;
	height: auto;
}

h3 {
float: right;

}



.highlight {
    color: orangered;
    font-weight: bold;
}

.important {
    color: black;
    font-weight: bold;
text-align: center;
}

#div_1 {  
font-family: verdana;
font-size: 20px;
}	 


.right {
float:right;
}




.overflow {
  overflow: auto;
}



.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}
