img {
  max-width: 300px !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

#startButton {
  display: none;
}

.pokerTable {
  background: url("../Images/pokerBackground.jpg") no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  text-align: center !important;
}

p {
  color: rgb(222, 220, 247) !important;
}
h1 {
  background-color: transparent !important;
}
